---
layout: layouts/base.njk
title: เกี่ยวกับเรา - FIREWORK Web Design
description: FIREWORK บริการออกแบบเว็บไซต์ที่ดีและไม่ยุ่งยาก
eleventyNavigation:
  key: เกี่ยวกับเรา
  order: 4
  header: true
  footer: true
alert: เนื้อหาในหน้านี้รองรับเฉพาะภาษาอังกฤษ
---

<div class="relative bg-primary-900">
  <div class="max-w-6xl mx-auto py-20 px-8">
    <div class="grid md:grid-cols-3 gap-8">
      <div
        id="portrait-container"
        class="text-center [&_img]:mx-auto [&_img]:w-3/4 md:[&_img]:w-full [&_img]:transition [&_img]:duration-500">
        <img src='/static/img/james-2.jpg' alt='' width='400'/>
      </div>
      <div class="text-gray-600 md:col-span-2 flex flex-col justify-center">
        <p class="mb-6 tracking-wider leading-relaxed text-white font-extralight">
          <span class="text-transparent font-bold bg-clip-text bg-linear-to-r from-orange-400 to-orange-600 text-xl">FIREWORK</span>
          was born out of a love for creating websites that are both good-looking and hassle-free. Our founder (that’s me!) and
          the rest of the team enjoy solving the problems that come with building and maintaining websites, so you don’t have to.
          We’re a small, close-knit crew, and we like to keep things friendly, straightforward. When you work with us, we’re not
          just your web designers -
          <strong class="text-green-400 font-semibold">
            we are an extra member of your team, rooting for your success.</strong>
        </p>
        <p class="text-center md:text-left">
          <span class="text-lg font-semibold tracking-wider text-stone-100">James</span><br/>
          <span class="text-sm text-stone-200">Owner & Developer</span>
        </p>
      </div>
    </div>
  </div>
</div>
<div class="py-24 px-6 bg-amber-50/50">
  <div class="default-container">
    <h2 class="text-red-800 text-sm uppercase text-center mb-2">Our Expert Team</h2>
    <p class="font-bold text-3xl md:text-4xl text-center mb-6">
      Meet the team behind our success
    </p>
    <p class="text-gray-600 text-center lg:w-[60%] mx-auto mb-10">
      Together, these four visionary leaders shaped FIREWORK into what it is today: a company driven by creativity,
      effectiveness, and futuristic outlook, whose business practices are as unconventional as they are successful.
    </p>
    <div class="grid grid-cols-2 md:grid-cols-4 gap-6 lg:gap-10 [&_img]:shadow-sm">
      <div>
        <img src='/static/img/sully.jpg' alt="cat" width="400"/>
        <p class="mt-4 font-semibold">Sully</p>
        <p class="text-sm text-gray-600">Snack Time Supervisor</p>
      </div>
      <div>
        <img src='/static/img/salmon.jpg' alt="cat" width="400"/>
        <p class="mt-4 font-semibold">Salmon</p>
        <p class="text-sm text-gray-600">Chief Nap Officer</p>
      </div>
      <div class="[&_img]:-scale-x-100">
        <img src='/static/img/sunny.png' alt="cat" width="400"/>
        <p class="mt-4 font-semibold">Sunny</p>
        <p class="text-sm text-gray-600">Director of Box Testing</p>
      </div>
      <div>
        <img src='/static/img/summer.jpg' alt="cat" width="400"/>
        <p class="mt-4 font-semibold">Summer</p>
        <p class="text-sm text-gray-600">Head of Disruptions</p>
      </div>
    </div>
  </div>
</div>
<!-- Cal to action -->
<div class="group bg-sky-950 flex flex-wrap items-center relative">
  <div class="[&_img]:grayscale [&_img]:group-hover:grayscale-0 **:transition md:w-[40%] bg-yellow-50 self-stretch
      [&_img]:h-full [&_img]:object-cover [&_img]:duration-500 [&_img]:max-h-[250px] md:[&_img]:max-h-[500px]">
    <img src='/static/img/james-salmon-sunny.jpg' alt="a man with a cat" width='1920'/>
  </div>
  <div class="pt-24 md:pt-16 md:pb-20 pb-28 px-8 md:px-16 lg:px-32 md:flex-1 relative overflow-hidden">
    <p class="uppercase text-orange-600 mb-2 text-sm md:text-base font-semibold">Let me help you . . .</p>
    <p class="font-semibold text-3xl lg:text-4xl text-white mb-6">
      Help me feed my masters
    </p>
    <p class="text-white mb-12 lg:max-w-[80%]">
      These four are the real bosses around here. They are the ones who keep us in check and make sure we are doing our jobs.
      <strong>And we do it well</strong>.
    </p>
    <a
      class="btn-primary-lg bg-orange-600 hover:bg-orange-700 text-white hover:text-gray-200 uppercase"
      href="/contact-us/">
      Discuss your ideas with us
    </a>
    <i class="fal fa-paw absolute text-primary-900/25 -top-5 -right-10 md:top-12 md:right-12 lg:right-[200px] text-[200px]"></i>
  </div>
</div>