---
layout: layouts/base.njk
eleventyNavigation:
  key: หน้าหลัก
  header: true
  footer: true
  order: 1
---

<!-- Hero -->
<div class="bg-linear-to-br from-primary-800 to-primary-500 from-40% overflow-hidden relative">
  <div class="default-container py-40 md:py-56 px-6" data-aos="fade-up" data-aos-duration="1000">
    <h1 class="text-center font-noto text-4xl md:text-6xl mb-8 text-white">
      พัฒนาเว็บไซต์<br/>ด้วยทีมงานมืออาชีพ
    </h1>
    <p class="text-center text-lg md:w-1/2 mx-auto mb-12 text-zinc-100">
      เราออกแบบและพัฒนาเว็บไซต์ พร้อมติดตั้งระบบการวิเคราะห์ข้อมูลเพื่อให้ธุรกิจของคุณเติบโตได้อย่างมีประสิทธิภาพ
    </p>
    <div class="text-center">
      <a
        class="btn-primary-lg bg-orange-600 hover:bg-orange-700 text-white hover:text-gray-200 uppercase font-normal"
        href="/{{ lang }}/contact-us/">
        ปรึกษาฟรี
      </a>
    </div>
  </div>
  <div class="absolute bg-primary-700/50 w-[2000px] h-[2000px] aspect-square rounded-full -top-[1900px] -left-[1000px]
    md:-left-[400px] lg:-top-[50%] lg:-left-[1900px]"></div>
  <div class="absolute bg-primary-700/50 w-[1800px] h-[1800px] aspect-square rounded-full -top-[1750px] -left-[700px]
    lg:-top-[800px] lg:-left-[1700px]"></div>
  <div class="absolute bg-primary-700/50 w-[1900px] h-[1900px] aspect-square rounded-full -bottom-[1850px] -right-[1050px]
    md:-right-[500px] lg:-top-[900px] lg:-right-[1800px]"></div>
  <div class="absolute bg-primary-700/50 w-[2100px] h-[2100px] aspect-square rounded-full -bottom-[2050px] -right-[800px]
    lg:-top-[700px] lg:-right-[2020px]"></div>
</div>
<!-- Services -->
<div class="bg-zinc-50 py-20 md:py-32 px-6">
  <div class="default-container lg:px-0">
    <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-8 mb-12">
      <div class="border-r-primary-800 border-2 border-transparent md:col-span-2 pr-4">
        <h2 class="uppercase text-primary-800 text-sm mb-2 font-noto">บริการของเรา</h2>
        <p class="text-3xl md:text-4xl font-noto font-medium">
          ที่
          <span class="text-orange-600 font-extrabold uppercase">Firework</span>
          เรารับออกแบบและพัฒนาเว็บไซต์ให้ตรงกับความต้องการของธุรกิจของคุณ
        </p>
      </div>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6 **:duration-500" id="service-list-container">
      <div class="group" data-aos="fade-left" data-aos-anchor="#service-list-container" data-aos-offset="200">
        <div class="md:[&_img]:h-[250px] [&_img]:h-[200px] [&_img]:object-cover [&_img]:group-hover:scale-110 overflow-hidden
            **:transition-transform">
          <img src='/static/img/our-services-web-design.jpg' alt='' width='400'/>
        </div>
        <p class="font-semibold text-xl text-zinc-900 mt-4 mb-2">Web Design</p>
        <p class="text-neutral-600 font-noto">
          ออกแบบเว็บไซต์ที่สวยงามและใช้งานง่าย ตรงตามแบรนด์ของคุณ
        </p>
      </div>
      <div
        class="group"
        data-aos="fade-left"
        data-aos-anchor="#service-list-container"
        data-aos-offset="200"
        data-aos-delay="200">
        <div class="md:[&_img]:h-[250px] [&_img]:h-[200px] [&_img]:object-cover [&_img]:group-hover:scale-110 overflow-hidden
            **:transition-transform">
          <img src='/static/img/our-services-web-development.jpg' alt='' width='400'/>
        </div>
        <p class="font-semibold text-xl text-zinc-900 mt-4 mb-2">Web Development</p>
        <p class="text-neutral-600 font-noto">
          เขียนโค้ดคุณภาพสูงเพื่อให้เว็บไซต์ของคุณเร็ว ปลอดภัย และง่ายต่อการจัดการ
        </p>
      </div>
      <div
        class="group"
        data-aos="fade-left"
        data-aos-anchor="#service-list-container"
        data-aos-offset="200"
        data-aos-delay="400">
        <div class="md:[&_img]:h-[250px] [&_img]:h-[200px] [&_img]:object-cover [&_img]:group-hover:scale-110 overflow-hidden
            **:transition-transform">
          <img src='/static/img/our-services-web-analytics.jpg' alt='' width='400'/>
        </div>
        <p class="font-semibold text-xl text-zinc-900 mt-4 mb-2">Web Analytics</p>
        <p class="text-neutral-600 font-noto">
          ติดตามประสิทธิภาพของเว็บไซต์ของคุณด้วยเครื่องมือวิเคราะห์ทันสมัย
        </p>
      </div>
      <div
        class="group"
        data-aos="fade-left"
        data-aos-anchor="#service-list-container"
        data-aos-offset="200"
        data-aos-delay="600">
        <div class="md:[&_img]:h-[250px] [&_img]:h-[200px] [&_img]:object-cover [&_img]:group-hover:scale-110 overflow-hidden
            **:transition-transform">
          <img src='/static/img/our-services-responsive-design.jpg' alt='' width='400'/>
        </div>
        <p class="font-semibold text-xl text-zinc-900 mt-4 mb-2">Responsive Design</p>
        <p class="text-neutral-600 font-noto">
          พัฒนาเว็บไซต์ให้ลูกค้าสามารถเข้าถึงได้ง่ายทบนทุกอุปกรณ์
        </p>
      </div>
    </div>
    <div class="text-center mt-16">
      <a
        href="/{{ lang }}/services/"
        class="btn-primary bg-orange-600 hover:bg-orange-700 text-white hover:text-gray-200 uppercase font-noto font-normal">
        ดูรายละเอียดบริการของเรา
      </a>
    </div>
  </div>
</div>
<!-- Portfolio -->
<div class="bg-white py-20 md:py-24 px-6">
  <div class="default-container lg:px-0">
    <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-8 mb-12">
      <div class="border-r-primary-800 border-2 border-transparent md:col-span-2 md:col-start-3 pr-4">
        <h2 class="uppercase text-right text-primary-800 text-sm mb-2 font-noto">ผลงานของเรา</h2>
        <p class="text-3xl md:text-4xl text-right font-noto font-medium">
          ชมผลงานล่าสุดของเรา
        </p>
      </div>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-10" data-aos="fade-up" data-aos-offset="300">
      {% for project in collections.portfolio | filter("featured", true) | filter("lang", lang) | reverse | head(3) %}
        <div>
          <div class="relative group">
            <div class="mb-4 h-[250px] [&_img]:h-full [&_img]:object-cover [&_img]:object-center shadow-sm">
              <img src="{{ project.data.image }}" alt="{{ project.data.imageAlt }}" width="600"/>
            </div>
            <div class="mb-4 flex flex-wrap gap-2 font-light">
              {% for s in project.data.tagged %}
                <span class="{{ s.style }} px-2 py-1 rounded-full text-xs">
                  {{ s.title }}
                </span>
              {% endfor %}
            </div>
            <div>
              <p class="font-bold text-lg group-hover:underline">
                {{ project.data.name }}
              </p>
            </div>
            <a href="{{ project.url }}" class="absolute inset-0" aria-label="{{ project.data.name }}"></a>
          </div>
          <div class="mt-2">
            {% if project.data.liveUrl %}
              <a
                href="https://{{ project.data.liveUrl }}"
                class="text-primary-800 hover:text-primary-600 hover:underline"
                target="_blank">
                {{ project.data.liveUrl }}
              </a>
            {% elif project.data.portfolioUrl %}
              <a href="{{ portfolioBaseUrl + project.data.portfolioUrl + "/index.html" }}" class="text-primary-800 hover:text-primary-600 hover:underline" target="_blank">
                {{ project.data.portfolioUrl }}
              </a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>
<!-- Why Choose Us -->
<div class="py-20 md:py-32 relative overflow-hidden">
  <div class="absolute w-[500px] left-[200px] aspect-square bg-primary-100 rounded-full blur-[200px] -z-10"></div>
  <div class="absolute w-[300px] right-[400px] bottom-0 aspect-square bg-secondary-100 rounded-full blur-[200px] -z-10"></div>
  <div class="default-container px-6 lg:px-0">
    <h2 class="text-center uppercase text-primary-800 text-sm mb-2 font-noto">ความเชี่ยวชาญ</h2>
    <p class="text-3xl md:text-4xl text-center mb-12 font-noto font-medium">
      สาเหตุที่ลูกค้าเลือกใช้บริการของ
      <span class="text-orange-600 font-extrabold uppercase">Firework</span>
    </p>
    <div class="grid lg:grid-cols-2 gap-6">
      <div class="px-4 md:max-w-[80%] mx-auto flex h-full items-center">
        <p class="text-xl md:text-2xl lg:text-3xl relative font-serif tracking-wider leading-snug text-center my-8">
          <i class="fas fa-quote-left fa-2x text-neutral-100 absolute -top-4 md:-top-8 -left-4 md:-left-8 -z-10"></i>
          เราเข้าใจว่าเว็บไซต์ไม่ใช่แค่การเข้าถึงออนไลน์ แค่คือเบื้องหน้าของธุรกิจของคุณ
        </p>
      </div>
      <div>
        <div class="flex md:max-w-[80%] mx-auto lg:max-w-full gap-6 mb-2 hover:bg-secondary-100/50 transition p-4 rounded-lg">
          <i class="fal fa-fw fa-medal fa-2x text-secondary-600 min-w-10 mt-2"></i>
          <div>
            <p class="text-xl mb-2">
              เรามีทีมงานที่มีประสบการณ์และความเชี่ยวชาญ
            </p>
            <p class="text-slate-700 font-noto">
              ทีมงานของเราประกอบด้วยนักออกแบบเว็บไซต์ นักพัฒนาเว็บ และผู้กำกับดิจิทัลที่มีประสบการณ์หลายปีในอุตสาหกรรมต่างๆ
              <span class="hidden md:inline">
                เรามีความพร้อมที่จะสร้างเว็บไซต์ที่สวยงามและมีประสิทธิภาพให้กับธุรกิจของคุณ
              </span>
            </p>
          </div>
        </div>
        <div class="flex md:max-w-[80%] mx-auto lg:max-w-full gap-6 mb-2 hover:bg-secondary-100/50 transition p-4 rounded-lg">
          <i class="fal fa-phone-laptop fa-2x fa-fw text-secondary-600 min-w-10 mt-2"></i>
          <div>
            <p class="text-xl mb-2">
              Mobile-First & SEO-Friendly
            </p>
            <p class="text-slate-700 font-noto">
              ด้วยการเข้าถึงเว็บไซต์ผ่านอุปกรณ์มือถือที่สูงขึ้น ทำให้เราให้ความสำคัญกับการสร้างเว็บไซต์ที่เข้าถึงได้ง่าย
              <span class="hidden md:inline">
                และเรายังให้ความสำคัญกับ SEO ทำให้เว็บไซต์ของคุณมีโอกาสที่จะถูกค้นหาได้ง่ายขึ้น
              </span>
            </p>
          </div>
        </div>
        <div class="flex md:max-w-[80%] mx-auto lg:max-w-full gap-6 mb-2 hover:bg-secondary-100/50 transition p-4 rounded-lg">
          <i class="fal fa-user-headset fa-2x text-secondary-600 fa-fw min-w-10 mt-2"></i>
          <div>
            <p class="text-xl mb-2">
              การดูแลหลังการขายอย่างต่อเนื่อง และครบวงจร
            </p>
            <p class="font-noto text-slate-700">
              การสร้างเว็บไซต์เพียงเพื่อเริ่มต้นเท่านั้น ทีมงานของเรายังมีการดูแลและบำรุงรักษาเว็บไซต์ของคุณอย่างต่อเนื่อง
              ให้เว็บไซต์ของคุณปลอดภัย และทำงานได้อย่างไม่สะดุด
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="bg-zinc-50">
  {% include '_includes/components/pricing.njk' %}
</div>
<!-- Who We Are -->
<div class="relative" data-aos="fade-up" data-aos-offset="300">
  <div class="max-w-4xl mx-auto py-20 px-8">
    <h2 class="uppercase text-primary-800 text-sm mb-12 text-center">Who We Are</h2>
    <div class="grid md:grid-cols-3 gap-8">
      <div class="text-gray-600 md:col-span-2 flex flex-col justify-center">
        <p class="mb-6 tracking-wider leading-relaxed">
          <span class="text-3xl font-serif tracking-wider">Hi there!</span>
          I’m James, the founder and lead developer here at
          <span class="text-orange-600 font-bold">FIREWORK</span>. I love creating websites that not only look great but work
            smoothly behind the scenes. I love taking care of all the technical stuff-so you don’t have to. From building custom
            designs to handling the maintenance that keeps everything running, I’m here to make your life easier and your business
            shine online.
        </p>
        <p class="hidden md:block">
          <span class="text-lg font-semibold tracking-wider">James</span><br/>
          <span class="text-sm text-gray-400">Owner & Developer</span>
        </p>
      </div>
      <div
        id="portrait-container"
        class="text-center [&_img]:mx-auto [&_img]:w-3/4 md:[&_img]:w-full [&_img]:transition [&_img]:duration-500
          [&_img]:shadow-sm">
        <img src='/static/img/james-2.jpg' alt='' width='400'/>
        <p class="text-center md:hidden mt-8">
          <span class="text-lg font-semibold tracking-wider">James</span><br/>
          <span class="text-sm text-gray-400">Owner & Developer</span>
        </p>
        <div class="group mt-8 relative">
          <i class="fal fa-cog hover:rotate-180 transition duration-500 cursor-pointer peer"></i>
          <p
            id="spin-me-text"
            class="absolute opacity-0 peer-hover:opacity-100 text-xs text-gray-500 w-full text-center left-0 right-0">
            Click to spin me!</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Call to action -->
<div class="group bg-sky-950 flex flex-wrap items-center relative">
  <div class="[&_img]:grayscale [&_img]:group-hover:grayscale-0 **:transition md:w-[40%] bg-yellow-50 self-stretch
      [&_img]:h-full [&_img]:object-cover [&_img]:duration-500">
    <img src='/static/img/firework-1.jpg' alt='' width='1920'/>
  </div>
  <div class="pt-24 pb-28 px-8 md:px-16 lg:px-32 md:flex-1 relative">
    <p class="uppercase text-orange-600 mb-2 text-sm md:text-base font-noto">ยังมีข้อสงสัย</p>
    <p class="font-semibold text-3xl lg:text-4xl text-white mb-6 font-noto">
      เราพร้อมให้คำปรึกษา<br/>โดยไม่มีค่าใช้จ่าย
    </p>
    <p class="text-white mb-12 lg:max-w-[80%] font-noto">
      ไม่ว่าคุณกำลังมีไอเดียใหม่ๆ หรือต้องการปรับปรุงเว็บไซต์ที่มีอยู่แล้ว เราพร้อมที่จะช่วยคุณเสมอ
    </p>
    <a
      class="btn-primary-lg bg-orange-600 hover:bg-orange-700 text-white hover:text-gray-200 uppercase font-noto font-normal"
      href="/contact-us/">
      รับคำปรึกษาฟรี
    </a>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      fill="none"
      viewBox="0 0 24 24"
      stroke-width="1.5"
      stroke="currentColor"
      class="w-64 right-4 lg:right-32 top-8 stroke-sky-900/15 absolute">
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813
          2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0
          0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75
          6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5
          18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25
          2.25 0 0 0-1.423 1.423Z"/>
    </svg>
  </div>
</div>
<script>
  let deg = 360;
  let grayScale = 0;
  let times = 0;
  const spinButton = document.querySelector('#portrait-container i');
  const image = document.querySelector('#portrait-container img');
  const spinMeText = document.querySelector('#spin-me-text');
  spinButton.addEventListener('click', () => {
    times += 1
    deg *= 2;
    grayScale += 10
    image.style.transform = `rotate(${deg}deg)`;
    image.style.filter = `grayscale(${grayScale}%)`;
    if (times >= 5) {
      spinMeText.innerHTML = '<a href="/                            {{ lang }}/contact-us/" class="text-xs text-gray-500 text-primary-600 underline">Get in touch</a> so I can feed my 4 cats';
      spinMeText.classList.remove('opacity-0')
    } else {
      spinMeText.textContent = ('You have spun me ' + times + ' times');
    }
  });
</script>