---
layout: layouts/base.njk
title: ส่งคำรีวิว - Firework Web Design
description: ส่งคำรีวิวของคุณเพื่อแบ่งปันประสบการณ์การทำงานกับ Firework Web Design และช่วยให้ผู้อื่นค้นพบบริการของเรา
---

<div class="relative isolate border font-noto">
    <div class="mx-auto grid max-w-7xl grid-cols-1 lg:grid-cols-2">
        <div class="relative px-6 pb-20 pt-24 sm:pt-32 lg:static lg:px-8 lg:py-48">
            <div class="mx-auto max-w-xl lg:mx-0 lg:max-w-lg">
                <div class="absolute inset-y-0 left-0 -z-10 w-full overflow-hidden bg-neutral-50 ring-1 ring-gray-900/10 lg:w-1/2">
                    <svg
                        class="absolute inset-0 h-full w-full stroke-gray-200 stroke-2
                            mask-[radial-gradient(100%_100%_at_top_right,white,transparent)]"
                        aria-hidden="true">
                        <defs>
                            <pattern
                                id="83fd4e5a-9d52-42fc-97b6-718e5d7ee527"
                                width="200"
                                height="200"
                                x="100%"
                                y="-1"
                                patternunits="userSpaceOnUse">
                                <path d="M130 200V.5M.5 .5H200" fill="none"/>
                            </pattern>
                        </defs>
                        <rect width="100%" height="100%" stroke-width="0" fill="white"/>
                        <svg x="100%" y="-1" class="overflow-visible fill-gray-50">
                            <path d="M-470.5 0h201v201h-201Z" stroke-width="0"/>
                        </svg>
                        <rect width="100%" height="100%" stroke-width="0" fill="url(#83fd4e5a-9d52-42fc-97b6-718e5d7ee527)"/>
                    </svg>
                </div>
                <h2 class="text-3xl font-bold tracking-tight text-primary-800">ความคิดเห็นของคุณมีความหมายกับเรา</h2>
                <p class="mt-6 text-lg leading-8 text-gray-600">
                    คำรีวิวสั้น ๆ จากคุณช่วยให้เราพัฒนางานของเราให้ดีขึ้น และช่วยให้ลูกค้าเห็นภาพการทำงานร่วมกับเรา
                    ขอบคุณสำหรับการสนับสนุนครับ
                </p>
            </div>
        </div>
        {% include 'components/feedback-form.njk' %}
    </div>
</div>