---
layout: layouts/base.njk
title: Blogs - FIREWORK Web Design
override:tags: false
permalink: "{{ locale }}/blogs/index.html"
eleventyNavigation:
  key: บทความ
  header: true
  footer: true
  order: 4
---

<div class="bg-amber-50/25 shadow-sm">
  <div class="max-w-4xl mx-auto py-24 px-6">
    <h1 class="mb-8 uppercase font-semibold text-orange-600 font-noto">บทความ</h1>
    {% for blog in collections.blog|filter("lang", lang) %}
      <div class="relative group py-6 grid gap-4 md:gap-8 grid-cols-1 md:grid-cols-3">
        <div class="order-3 md:order-1">
          <img src="{{ blog.data.image }}" alt="{{ blog.data.imageAlt }}" width="400" class="aspect-[5/3] object-cover object-center"/>
        </div>
        <div class="order-2 md:col-span-2">
          <p class="mb-2 font-bold text-lg group-hover:underline font-noto">
            {{ blog.data.title }}
          </p>
          <p class="text-gray-600 group-hover:underline max-sm:hidden font-noto">
            {{ blog.data.description }}
          </p>
        </div>
        <a href="{{ blog.url }}" class="absolute inset-0"></a>
      </div>
    {% endfor %}
  </div>
</div>