<footer id="cs-footer-272">
    <div
        class="cs-container">
        <!-- Logo Group -->
        <div class="cs-logo-group">
            <p class="uppercase inline-block mb-4 font-bold tracking-widest">
                <span class="text-orange-600">Firework</span><br/>
                <span class="font-light text-primary-800">Web Design</span>
            </p>
            <p class="cs-text">
                Ready to spark your next project?<br/>
                <a href="/contact-us" class="text-blue-600 hover:underline">Contact us</a>
                today for a free consultation.
            </p>
        </div>
        <!-- Links -->
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Sitemap</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Services</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Portfolio</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="/contact-us">Contact</a>
            </li>
        </ul>
        <ul class="cs-nav">
            <li class="cs-nav-li">
                <span class="cs-header">Services</span>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">About</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Services</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Portfolio</a>
            </li>
            <li class="cs-nav-li">
                <a class="cs-nav-link" href="">Contact</a>
            </li>
        </ul>
        <!-- Contact Info -->
        <ul class="cs-contact">
            <li class="cs-nav-li">
                <span class="cs-header">Contact</span>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="tel: {{contacts.phone[0]}}">{{contacts.phone[1]}}</a>
            </li>
            <li class="cs-contact-li">
                <a class="cs-contact-link" href="mailto:{{contacts.email}}">{{contacts.email}}</a>
            </li>
        </ul>
    </div>
</footer>