<footer id="cs-footer-272" class="{% if lang == 'th' %}font-noto{% endif %}">
    <div
        class="default-container md:flex px-4">
        <!-- Logo Group -->
        <div class="flex-1 mb-6">
            <p class="uppercase inline-block mb-4 font-bold tracking-widest">
                <span class="text-transparent bg-clip-text bg-linear-to-r from-orange-500 to-orange-700">Firework</span><br/>
                <span class="font-light text-primary-800">Web Design</span>
            </p>
            <p>
                Ready to spark your next project?<br/>
                <a href="/{{ lang }}/contact-us/" class="text-blue-700 hover:underline">Contact us</a>
                today for a free consultation.
            </p>
        </div>
        <!-- Links -->
        <div class="md:flex md:gap-8 lg:gap-16">
            <ul class="mb-6">
                <li class="cs-nav-li">
                    <span class="cs-header">Quick links</span>
                </li>
                {% for item in collections.all | eleventyNavigation | filter("locale", locale) | filter("footer", true) %}
                    <li class="cs-nav-li">
                        <a class="cs-nav-link" href="{{ item.url }}">{{ item.key }}</a>
                    </li>
                {% endfor %}
            </ul>
            <ul class="mb-6">
                <li class="cs-nav-li">
                    <span class="cs-header">Contact</span>
                </li>
                <li class="cs-contact-li pb-4">
                    <span class="text-orange-700 font-medium">Data Advantage Co.,Ltd.</span><br/>
                    <div class="text-gray-500">
                        230 M.2 Cherng Doi, Doi Sa Ket<br/> Chiang Mai 50220, Thailand
                    </div>
                </li>
                <li class="cs-contact-li">
                    <a class="cs-contact-link" href="mailto:{{ contacts.email }}">{{ contacts.email }}</a>
                </li>
                <li class="cs-contact-li">
                    <a class="cs-contact-link" href="phone:+66882246883">+66882246883</a>
                </li>
            </ul>
        </div>
    </div>
</footer>