<!-- Pricing -->
<div class="py-20 md:py-32 shadow-sm">
    <div class="default-container px-6 lg:px-0">
        <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-8 mb-12">
            <div class="border-r-primary-800 border-2 border-transparent md:col-span-3 lg:col-span-2 pr-4">
                {% if lang == 'en' %}
                    <h2 class="uppercase text-primary-800 text-sm mb-2">Our Packages</h2>
                    <p class="font-bold text-3xl md:text-4xl">
                        Choose from our packages to suit your business needs
                    </p>
                {% elif lang == 'th' %}
                    <h2 class="uppercase text-primary-800 text-sm mb-2 font-noto">แพ็คแกจราคา</h2>
                    <p class="text-3xl md:text-4xl font-medium font-noto">
                        เลือกแพ็คเกจที่เหมาะกับธุรกิจของคุณ
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="grid md:grid-cols-2 lg:grid-cols-3 gap-6 lg:gap-0 [&_*]:duration-500 items-center">
            <div class="md:self-stretch lg:self-center">
                <div class="bg-zinc-200/50 px-6 py-6 shadow h-full font-noto">
                    <p class="text-gray-800 mb-4">
                        <i class="fal fa-user mr-1"></i>
                        Personal
                    </p>
                    <p class="text-gray-500 mb-6 text-sm">
                        <span class="text-5xl font-bold text-primary-800 mr-2">19,500</span>
                        THB
                    </p>
                    <p class="mb-4">
                        {% if lang == 'th' %}
                            เว็บไซต์หนึ่งหน้าสำหรับการใช้ส่วนตัวหรือพอร์ตโฟลิโอ พร้อมกับการออกแบบและโดเมนที่กำหนดเอง
                        {% else %}
                            Single page website for personal use or portfolio, complete with custom design and domain.
                        {% endif %}
                    </p>
                    <ul>
                        <li class="flex">
                            <i class="fal fa-check-circle text-green-600 mr-2 mt-1"></i>
                            <span>
                                {% if lang == 'th' %}
                                    ออกแบบเว็บไซต์พร้อมแก้ไขได้ 2 ครั้ง
                                {% else %}
                                    Custom web design with 2 revisions
                                {% endif %}
                            </span>
                        </li>
                        <li class="flex">
                            <i class="mt-1 fal fa-check-circle text-green-600 mr-2"></i>
                            <span>
                                {% if lang == 'th' %}
                                    ฟรีค่าจดโดเมน
                                {% else %}
                                    Free domain
                                {% endif %}
                            </span>
                        </li>
                        <li class="flex">
                            <i class="mt-1 fal fa-check-circle text-green-600 mr-2"></i>
                            <span>
                                {% if lang == 'th' %}
                                    พร้อมติดตั้ง Google Analytics และ Search Console
                                {% else %}
                                    Google Analytics & Search Console
                                {% endif %}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="bg-primary-900 px-6 py-6 shadow relative font-noto">
                <span class="absolute top-3 right-3 text-xs bg-red-600 px-2 text-white">
                    {% if lang == 'th' %}
                        แพ็คเกจแนะนำ
                    {% else %}
                        Most Popular
                    {% endif %}
                </span>
                <p class="text-gray-300 mb-4">
                    <i class="fal fa-building mr-1"></i>
                    Business
                </p>
                <p class="text-gray-200 mb-6 text-sm">
                    <span class="text-5xl font-bold text-yellow-500 mr-2">62,000</span>
                    THB
                </p>
                <p class="mb-4 text-gray-200">
                    {% if lang == 'th'%}
                        เว็บไซต์ 5 หน้าสำหรับธุรกิจขนาดเล็กหรือสตาร์ทอัพ พร้อมกับอีเมลธุรกิจและการจัดการระบบ Google Business Profile
                    {% else %}
                        5-page website for small businesses or startups, custom business email and Google services integration.
                    {% endif %}
                </p>
                <ul>
                    <li class="flex text-gray-200">
                        <i class="fal fa-check-circle text-green-400 mr-2 mt-1"></i>
                        <span>
                            {% if lang == 'th'%}
                                ออกแบบเว็บไซต์พร้อมแก้ไขได้ 2 ครั้ง
                            {% else %}
                                Custom web design with 2 revisions
                            {% endif %}
                        </span>
                    </li>
                    <li class="flex text-gray-200">
                        <i class="fal fa-check-circle text-green-400 mr-2 mt-1"></i>
                        <span>
                            {% if lang == 'th'%}
                                ฟรีค่าเซิฟเวอร์ 1 ปี
                            {% else %}
                                Free dedicated server for 1 year
                            {% endif %}
                        </span>
                    </li>
                    <li class="flex text-gray-200">
                        <i class="mt-1 fal fa-check-circle text-green-400 mr-2"></i>
                        <span>
                            {% if lang == 'th'%}
                                ฟรีค่าโดเมน
                            {% else %}
                                Free domain
                            {% endif %}
                        </span>
                    </li>
                    <li class="flex text-gray-200">
                        <i class="mt-1 fal fa-check-circle text-green-400 mr-2"></i>
                        <span>
                            {% if lang == 'th'%}
                                การจัดการแก้ไขและเพิ่มเนื้อหาบนเว็บไซต์
                            {% else %}
                                Content update & maintainance
                            {% endif %}
                        </span>
                    </li>
                    <li class="flex text-gray-200">
                        <i class="mt-1 fal fa-check-circle text-green-400 mr-2"></i>
                        <span>
                            {% if lang == 'th' %}
                                จัดการระบบอีเมลเฉพาะของธุรกิจ
                            {% else %}
                                Custom business email
                            {% endif %}
                        </span>
                    </li>
                    <li class="flex text-gray-200">
                        <i class="mt-1 fal fa-check-circle text-green-400 mr-2"></i>
                        <span>
                            {% if lang == 'th'%}
                                ติดตั้ง Google Analytics และ Search Console
                            {% else %}
                                Google Analytics & Search Console
                            {% endif %}
                        </span>
                    </li>
                    <li class="flex text-gray-200">
                        <i class="mt-1 fal fa-check-circle text-green-400 mr-2"></i>
                        <span>
                            {% if lang == 'th'%}
                                การจัดการ Google Business Profile
                            {% else %}
                                Google Business Profile
                            {% endif %}
                        </span>
                    </li>
                </ul>
            </div>
            <div class="md:col-span-2 lg:col-span-1">
                <div class="bg-zinc-200/50 px-6 py-6 shadow font-noto">
                    <p class="text-gray-800 mb-4">
                        <i class="fal fa-starship mr-1"></i>
                        Enterprise</p>
                    <p class="text-primary-800 mb-6 text-3xl font-bold">
                        {% if lang == 'th'%}
                            การพัฒนาเฉพาะสำหรับธุรกิจ
                        {% else %}
                            Custom service for your business
                        {% endif %}
                    </p>
                    <p class="mb-4">
                        {% if lang == 'th'%}
                            พัฒนาซอฟท์แวร์ ทำระบบ e-commerce หรือโปรเจคที่ซับซ้อน ที่ต้องการนักพัฒนาโดยเฉพาะ
                        {% else %}
                            Software development, e-commerce, or other complex projects that require custom solutions.
                        {% endif %}
                    </p>
                    <ul>
                        <li class="flex">
                            <i class="fal fa-check-circle text-green-600 mr-2 mt-1"></i>
                            <span>
                                {% if lang == 'th'%}
                                    เว็บไซต์ E-Commerce
                                {% else %}
                                    E-Commerce website
                                {% endif %}
                            </span>
                        </li>
                        <li class="flex">
                            <i class="mt-1 fal fa-check-circle text-green-600 mr-2"></i>
                            <span>
                                {% if lang == 'th'%}
                                    พัฒนาซอฟท์แวร์เฉพาะทาง
                                {% else %}
                                    Custom software development
                                {% endif %}
                            </span>
                        </li>
                        <li class="flex">
                            <i class="mt-1 fal fa-check-circle text-green-600 mr-2"></i>
                            <span>
                                {% if lang == 'th'%}
                                    ทีมงานนักพัฒนาโดยเฉพาะ
                                {% else %}
                                    Software engineer solution
                                {% endif %}
                            </span>
                        </li>
                        <li class="flex">
                            <i class="mt-1 fal fa-check-circle text-green-600 mr-2"></i>
                            <span>
                                {% if lang == 'th' %}
                                    ปรึกษาด้านการตลาดและการทำแบรนด์ดิ้ง
                                {% else %}
                                    Brand consultation
                                {% endif %}
                            </span>
                        </li>
                        <li class="flex">
                            <i class="mt-1 fal fa-check-circle text-green-600 mr-2"></i>
                            <span>
                                {% if lang == 'th'%}
                                    วางแผลการตลาด และงานกราฟฟิกดีไซน์
                                {% else %}
                                    Digital marketing & graphics design
                                {% endif %}
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>