---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<!-- Hero -->
<div class="bg-gradient-to-br from-primary-800 to-primary-500 from-40% overflow-hidden relative">
  <div class="default-container py-40 md:py-56 px-6">
    <h1 class="text-center font-sans text-4xl md:text-6xl font-bold mb-8 text-white">
      Modern Business <br/>Web Design & Development
    </h1>
    <p class="text-center text-lg md:w-1/2 mx-auto mb-12 text-white">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi elementum tincidunt vitae velit dolor cras tellus nisl
    </p>
    <div class="text-center">
      <a class="btn-primary-lg bg-secondary-300 hover:bg-secondary-400 text-secondary-800 uppercase" href="">Consult for free</a>
    </div>
  </div>
  <div class="absolute bg-primary-700/50 w-[200%] aspect-square rounded-full -top-[130%] -left-[190%]"></div>
  <div class="absolute bg-primary-700/50 w-[200%] aspect-square rounded-full -top-[140%] -left-[195%]"></div>
  <div class="absolute bg-primary-700/50 w-[200%] aspect-square rounded-full -top-[150%] -right-[192%]"></div>
  <div class="absolute bg-primary-700/50 w-[200%] aspect-square rounded-full -top-[180%] -right-[195%]"></div>
</div>