---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
---

<!-- Hero -->
<div class="bg-gradient-to-br from-primary-800 to-primary-500 from-40% overflow-hidden relative">
  <div class="default-container py-40 md:py-56 px-6">
    <h1 class="text-center font-sans text-4xl md:text-6xl font-bold mb-8 text-white">
      Modern Business <br/>Web Design & Development
    </h1>
    <p class="text-center text-lg md:w-1/2 mx-auto mb-12 text-zinc-100">
      We hand-craft web designs and development that help businesses like yours stand out.
    </p>
    <div class="text-center">
      <a class="btn-primary-lg bg-secondary-300 hover:bg-secondary-400 text-secondary-800 uppercase" href="">Consult for free</a>
    </div>
  </div>
  <div class="absolute bg-primary-700/50 w-[200%] aspect-square rounded-full -top-[110%] md:-top-[170%] lg:-top-[130%]
    lg:-left-[190%]"></div>
  <div class="absolute bg-primary-700/50 w-[200%] aspect-square rounded-full -top-[100%] md:-top-[160%] lg:-top-[140%]
    lg:-left-[195%]"></div>
  <div class="absolute bg-primary-700/50 w-[200%] aspect-square rounded-full -bottom-[110%] md:-bottom-[170%] lg:-top-[150%]
    lg:-right-[192%] -right-[10%]"></div>
  <div class="absolute bg-primary-700/50 w-[200%] aspect-square rounded-full -bottom-[115%] md:-bottom-[165%] lg:-top-[180%]
    lg:-right-[195%] -right-[100%]"></div>
</div>
<!-- Services -->
<div class="bg-zinc-50 py-20 md:py-32">
  <div class="default-container px-6 lg:px-0">
    <div class="grid md:grid-cols-3 lg:grid-cols-4 gap-8 mb-12">
      <div class="border-r-primary-800 border-2 border-transparent md:col-span-2 pr-4">
        <h2 class="uppercase text-primary-800 text-sm mb-2">Our Services</h2>
        <p class="font-bold text-3xl md:text-4xl">
          At
          <span class="text-primary-800 font-extrabold">Firework</span>
          , we offer a full suite of web services tailored to your business needs
        </p>
      </div>
    </div>
    <div class="grid md:grid-cols-2 lg:grid-cols-4 gap-6 [&_*]:duration-500">
      <div class="group">
        <div class="[&_img]:h-[200px] [&_img]:object-cover group-hover:[&_img]:scale-110 overflow-hidden [&_*]:transition-transform">
          {% image './static/img/our-services-web-design.jpg', 'Custom web design', '400px' %}
        </div>
        <h4 class="text-zinc-900 mt-4 mb-2">Custom Web Design</h4>
        <p class="text-neutral-600">Beautiful, user-friendly designs tailored to your brand.</p>
      </div>
      <div class="group">
        <div class="[&_img]:h-[200px] [&_img]:object-cover group-hover:[&_img]:scale-110 overflow-hidden [&_*]:transition-transform">
          {% image './static/img/our-services-web-development.jpg', 'Web development', '400px' %}
        </div>
        <h4 class="text-zinc-900 mt-4 mb-2">Web Development</h4>
        <p class="text-neutral-600">High-quality coding to ensure your site is fast, secure, and easy to maintain.</p>
      </div>
      <div class="group">
        <div class="[&_img]:h-[200px] [&_img]:object-cover group-hover:[&_img]:scale-110 overflow-hidden [&_*]:transition-transform">
          {% image './static/img/our-services-web-analytics.jpg', 'Web development', '400px' %}
        </div>
        <h4 class="text-zinc-900 mt-4 mb-2">Web Analytics</h4>
        <p class="text-neutral-600">Track your site performance with modern analytic tools.</p>
      </div>
      <div class="group">
        <div class="[&_img]:h-[200px] [&_img]:object-cover group-hover:[&_img]:scale-110 overflow-hidden [&_*]:transition-transform">
          {% image './static/img/our-services-responsive-design.jpg', 'Responsive design', '400px' %}
        </div>
        <h4 class="text-zinc-900 mt-4 mb-2">Responsive Design</h4>
        <p class="text-neutral-600">Mobile-friendly websites that look perfect on any device.</p>
      </div>
    </div>
  </div>
</div>