---
layout: layouts/base.njk
eleventyNavigation:
  key: Services
  order: 2
title: Our Services - Firework Web Design
description: Learn more about the services we offer at Firework Web Design.
---

<div class="py-24 sm:py-32">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
        <div class="mx-auto max-w-2xl lg:mx-0">
            <h1 class="mt-2 text-4xl font-bold tracking-tight text-gray-900 sm:text-6xl">Our Services</h1>
            <p class="mt-6 text-lg leading-8 text-gray-600">
                At Firework Web Design, we provide a range of services tailored to meet your unique business needs. Whether you're
                looking for a custom-built website, ongoing maintenance, or professional branding, we've got you covered. You only pay
                for the services you need, so you can focus on what you do best—running your business.
            </p>
        </div>
    </div>
</div>
<!-- Web development service -->
<div class="bg-zinc-50 py-24 sm:py-32 px-6 lg:px-8">
    <div class="default-container">
        <div class="grid md:grid-cols-2 gap-16">
            <div class="relative pr-2 flex items-center">
                <div class="relative [&_img]:relative [&_img]:z-10">
                    {% image './static/img/wireframe.jpg', 'Wireframe design', '1000px' %}
                    <div class="absolute h-3/4 w-3/4 bg-primary-800 -bottom-4 -right-4"></div>
                </div>
            </div>
            <div>
                <h2 class="text-4xl sm:text-6xl md:max-w-[70%] mb-6 font-bold">Web Development Services</h2>
                <p class='text-gray-600 leading-8 text-lg md:max-w-[80%] mb-6'>
                    Our web development services are built to maximize performance and drive results, ensuring that your site meets Google
                    SEO standards for better visibility.
                </p>
                <ul class="text-lg text-gray-600">
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>Fully custom design from scratch
                    </li>
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>Domain registration
                    </li>
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>SEO optimization
                    </li>
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>Responsive design for mobile and desktop
                    </li>
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>User-friendly interface
                    </li>
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>Integrate with
                        <a class="hover:underline text-blue-600" href="https://marketingplatform.google.com/about/analytics/">Google Analytics</a>
                        and
                        <a class="hover:underline text-blue-600" href="https://search.google.com/search-console/about">Search Console</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Design service -->
<div class="py-24 sm:py-32 px-6 lg:px-8">
    <div class="default-container">
        <div class="grid md:grid-cols-2 gap-16">
            <div class="flex flex-col justify-center">
                <h2 class="text-4xl sm:text-6xl md:max-w-[70%] mb-6 font-bold">Design Services</h2>
                <p class='text-gray-600 leading-8 text-lg md:max-w-[80%] mb-6'>
                    We offer comprehensive design services that help businesses build a strong and memorable brand identity. Our offerings
                    include custom logo design, graphic design for social media, website, and print.
                </p>
                <ul class="text-lg text-gray-600">
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>Regular updates and security checks
                    </li>
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>Bug fixes and technical support
                    </li>
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>Content updates as needed
                    </li>
                </ul>
            </div>
            <div class="relative pr-2 flex">
                <div class="relative [&_img]:relative [&_img]:z-10">
                    {% image './static/img/graphic-design.jpg', 'Wireframe design', '1000px' %}
                    <div class="absolute h-3/4 w-3/4 bg-primary-800 -bottom-4 -left-4"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Other services -->
<div class="bg-zinc-50 py-24 sm:py-32 px-6 lg:px-8">
    <div class="default-container">
        <div class="grid md:grid-cols-2 gap-16">
            <div class="relative pr-2 flex items-center">
                <div class="relative [&_img]:relative [&_img]:z-10">
                    {% image './static/img/business-plan-checklist.jpg', 'Business plan checklist', '1000px' %}
                    <div class="absolute h-3/4 w-3/4 bg-primary-800 -bottom-4 -right-4"></div>
                </div>
            </div>
            <div>
                <h2 class="text-4xl sm:text-6xl md:max-w-[90%] mb-6 font-bold">Essential Business Services</h2>
                <p class='text-gray-600 leading-8 text-lg md:max-w-[80%] mb-6'>
                    Our web development services are built to maximize performance and drive results, ensuring that your site meets Google
                    SEO standards for better visibility.
                </p>
                <ul class="text-lg text-gray-600">
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>Regular website content update
                    </li>
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>Setup
                        <a class="hover:underline text-blue-600" href="https://www.google.com/intl/en_us/business/">Google Business Profile</a>
                    </li>
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>Custom email address
                    </li>
                    <li>
                        <i class="far fa-check-square mr-2 text-green-500"></i>Internalization and translation
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Call to action -->
<div class="group bg-sky-950 flex flex-wrap items-center relative">
    <div class="[&_img]:grayscale group-hover:[&_img]:grayscale-0 [&_*]:transition md:w-[40%] bg-yellow-50 self-stretch
            [&_img]:h-full [&_img]:object-cover [&_img]:duration-500">
        {% image './static/img/firework-2.jpg', 'Firework', '1920px' %}
    </div>
    <div class="pt-24 pb-28 px-8 md:px-16 lg:px-32 md:flex-1 relative">
        <p class="uppercase text-orange-600 mb-2 text-sm md:text-base font-semibold">Ready to get started?</p>
        <p class="font-semibold text-3xl lg:text-4xl text-white mb-6">
            Let’s create something<br/> amazing together
        </p>
        <p class="text-white mb-12 lg:max-w-[80%]">
            Whether you're starting fresh or looking to revamp your website, we are here to help. Contact us today to discuss your
            project.
        </p>
        <a
            class="btn-primary-lg bg-orange-600 hover:bg-orange-700 text-white hover:text-gray-200 uppercase"
            href="/contact-us/">
            Get in touch
        </a>
        <svg
            xmlns="http://www.w3.org/2000/svg"
            fill="none"
            viewBox="0 0 24 24"
            stroke-width="1.5"
            stroke="currentColor"
            class="w-64 right-4 lg:right-32 top-8 stroke-sky-900/15 absolute">
            <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M9.813 15.904 9 18.75l-.813-2.846a4.5 4.5 0 0 0-3.09-3.09L2.25 12l2.846-.813a4.5 4.5 0 0 0 3.09-3.09L9 5.25l.813
                    2.846a4.5 4.5 0 0 0 3.09 3.09L15.75 12l-2.846.813a4.5 4.5 0 0 0-3.09 3.09ZM18.259 8.715 18 9.75l-.259-1.035a3.375 3.375 0
                    0 0-2.455-2.456L14.25 6l1.036-.259a3.375 3.375 0 0 0 2.455-2.456L18 2.25l.259 1.035a3.375 3.375 0 0 0 2.456 2.456L21.75
                    6l-1.035.259a3.375 3.375 0 0 0-2.456 2.456ZM16.894 20.567 16.5 21.75l-.394-1.183a2.25 2.25 0 0 0-1.423-1.423L13.5
                    18.75l1.183-.394a2.25 2.25 0 0 0 1.423-1.423l.394-1.183.394 1.183a2.25 2.25 0 0 0 1.423 1.423l1.183.394-1.183.394a2.25
                    2.25 0 0 0-1.423 1.423Z"/>
        </svg>
    </div>
</div>